<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home Page</title>
    <link
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      rel="stylesheet"
    />
  </head>
  <body>
    <div class="container">
      <h2 class="mt-5">Home Page</h2>
      <a href="/register">Register</a>
      <br />
      <a href="/login">Login</a>
      <br />
      <a href="/protected">Protected Page</a>
    </div>
  </body>
</html>
